body{
    background-color: #141C2F;
    font-family: "League Spartan", serif;
}

.top{
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.light{
    display: flex;
    align-items: center;
}

.toptop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#1F2A48 ;
    border-radius: 10px;
    padding: 5px;
}

.searchinp{
    height: 50px;
    width: 500px;
    background-color: #1F2A48;
    border: 0;
    font-family: "League Spartan", serif;
    font-size: 20px;
    border-radius: 5px;
}

.search{
    background-color: #0079FF;
    border: 0;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}